* {
  font-family: helvetica;
  color: seashell;
  text-align: center;
  justify-content: center;
}

p {
  font-size: 22px;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid seashell;
  height: 69px;
  background-color: black;
}

.logo img {
  height: 50px;
  padding-left: 10px;
  background-color: black;
}

.maincontent  {
  padding-top: 69px;
  background-color: black;
}

.maincontent .mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height:400px;
  padding-top: 300px;
  width: 1200px;
  margin: auto;
  background-color: black;
}


.featured {
  padding-top: 50px;
}

.images {
  flex-flow: row wrap;
  display: inline-flex;
  width: 1000px;
  background-color: black;

}

.berry, .rum, .donuts, .myrtle, .bedford {
  padding: 10px;
  background-color: black;
}

.locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  margin: auto;
  padding-top: 100px;
  background-color: black;
  display: inline-block;
  justify-content: space-between;
}

.addresses {
flex-flow: row wrap;
display: inline-flex;
justify-content: space-between;
  background-color: black;

}

.downtown, .bayside, .oakdale {
  width: 300px;
  margin: 0px 40px;
}

.footer {
  margin-top: 10px;
  height: 200px;
  display: flex;
}

.contact  {
  width: 100%;
}

.copyright p {
  text-align: left;
padding-left: 20px;
}
